body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Nipple {
  position: relative;
}

.controller {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  background-color: #282c34;
}

.controller-member {
  flex: 3 1 0px;
  background-color:gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button1 {
  background-color: red;

}

.button2 {
  background-color: blue;
}

.controller-button {
  height: 15vw;
  width: 15vw;
  border-radius: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.info-panel {
  flex: 1 1 0px;
  display: flex;
  flex-direction: column;
}

#enter-fullscreen-button {
  z-index: 3;
  position: absolute;
  float: top;
  top:5px;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}
